<div class="container-fluid">
  <h6>{{memberTitle}}</h6>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Job Title</th>
          <th>Racing Team</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let member of members'>
          <td>{{member?.firstname}}</td>
          <td>{{member?.lastname}}</td>
          <td>{{member?.jobtitle}}</td>
          <td>{{member?.team}}</td>
          <td>{{member?.status}}</td>
          <td>
            <div class="btn-group mr-2">
              <button pButton icon="pi pi-pencil" label="Edit" class="p-button-info p-d-flex"
                (click)="editMember(member)"></button>
            </div>
            <div class="btn-group mr-2">
              <button pButton icon="pi pi-trash" label="Delete" class="p-button-danger p-d-flex"
                (click)="deleteMember(member)"></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-group mr-2">
      <button pButton icon="pi pi-plus" iconPos="left" label="Add" class="p-button-success p-d-flex"
        (click)="addMember()"></button>
    </div>
  </div>
</div>